---
layout: single
classes: wide
---

{{ content }}

<div class="jtitle">__________________________________</a></div>
<div class="jtitle">학력</a></div>
<div class="jtitle">학사, 경영학, 서울대학교 경영학과, 1995</a></div>
<div class="jtitle">석사, 경제학, Economics Department, The Ohio State University, 2006</a></div>
<div class="jtitle">박사, 경제학, Economics Department, The Ohio State University, 2010</a></div>
<div class="jtitle">__________________________________</a></div>



<div class="jtitle">경력</a></div>
<div class="jtitle">1. 한국은행</a></div>
<div class="jtitle"></a></div>
<div class="jtitle">거시경제연구실 (~ 현재)</a></div>
<div class="jtitle">경제연구원 거시경제연구실장, 2021.2</a></div>
<div class="jtitle">기획협력국 조직관리팀장, 2019.7</a></div>
<div class="jtitle">조사국 물가연구팀장, 2018.2</a></div>
<div class="jtitle">조사국 모형연구팀장 2017.8</a></div>
<div class="jtitle">워싱턴주재원 2014.8</a></div>
<div class="jtitle">조사국 국제무역팀 과장, 거시모형팀 차장, 조사총괄팀 차장 2010.10</a></div>
<div class="jtitle">금융시장국 통화금융팀 조사역, 과장 1998.5</a></div>
<div class="jtitle">2. The Ohio State University</a></div>
<div class="jtitle">Teaching Assistant 2007 ~ 2010</a></div>
<div class="jtitle">__________________________________</a></div>
<div class="jtitle">연구실적</a></div>
<div class="jtitle">연구논문 - Work in Progress</a></div>
<div class="jtitle">"The Credit-Driven Business Cycles in Korea: How Important is the Credit Supply Channel?", (with Namgang Lee) C22E31</a></div>
<div class="jtitle">연구논문 - 발간완료</a></div>
<div class="jtitle">"On Measuring the Nonlinear Effect of Interest Rates on Inflation and Output in Korea", 금융지식연구, 2014, (김태환, 문형호) C22E31</a></div>
<div class="jtitle">작성 보고서</a></div>
<div class="jtitle">"최근 인플레이션 동학에 대한 평가", 내부보고서, 2018, (장희창, 이동원)</a></div>
<div class="jtitle">"물가안정목표 적용기간 및 설명책임 관련 개선방안 검토", 내부보고서, 2018, (장희창 이동원)</a></div>
<div class="jtitle">"2019년 이후 중기 물가안정목표 설정안", 내부보고서, 2018, (장희창 이동원)</a></div>
<div class="jtitle">"구조적 소비제약 요인 및 정책과제", BOK경제리뷰, 2013, (정천수, 임준혁)</a></div>
<div class="jtitle">"청년층 고용 현황 및 시사점", BOK경제리뷰, 2013, (조범준 외 2인)</a></div>
<div class="jtitle">"우리나라 가계부채의 증가원인 및 지속가능성 분석", BOK경제리뷰, 2013, (김현정 외 3인)</a></div>
<div class="jtitle">"민간소비 부진 원인 및 장단기 정책과제", 내부보고서, 2013, (박종현, 성병묵, 임근형, 조범준)</a></div>
<div class="jtitle">"일본 경제정책 변화의 영향 및 대응방안", 내부보고서, 2013, (임근형, 성병묵)</a></div>
<div class="jtitle">"기준금리 인하의 실물경제 파급효과 분석", 내부보고서, 2013, (조사총괄팀 공동)</a></div>
<div class="jtitle">"아베노믹스가 일본 및 국내경제에 미치는 영향", 내부보고서, 2013, (조사총괄팀 공동)</a></div>
<div class="jtitle">"중국경제 둔화 가능성 및 우리 경제에의 영향", 내부보고서, 2013, (조사총괄팀 공동)</a></div>
<div class="jtitle">"국가별 과다채무 해소 전망, 부채경제학과 한국의 가계 및 정부부채", 단행본, 2012, (박양수)</a></div>
<div class="jtitle">"가계부채 누증에 따른 잠재리스크 평가, 부채경제학과 한국의 가계 및 정부부채", 단행본, 2012, (이동렬 외 3인)</a></div>
<div class="jtitle">"자민당 집권 시 경제정책 방향과 영향", 내부보고서, 2012, (임근형, 성병묵)</a></div>
<div class="jtitle">"유동성 상황 평가 및 기준금리 인하효과 점검", 내부보고서, 2012, (임근형, 성병묵)</a></div>
<div class="jtitle">"성장, 고용, 소득(임금) 간 괴리 및 대응방향", 내부보고서, 2012, (조사국 공동)</a></div>
<div class="jtitle">"유로지역 재정위기 진단 및 국내경제에 미치는 영향", 내부보고서, 2012, (성병묵)</a></div>
<div class="jtitle">"Fiscal Cliff 시나리오별 전망과 영향", 내부보고서, 2012, (조사총괄팀 공동)</a></div>
<div class="jtitle">"바람직한 Indicative Guideline 설정방안 모색", 단행본, 2011, (장광수 외 9인)</a></div>
<div class="jtitle">"위기극복 이후 새로운 정책기조 정립: 경제전망, 리스크요인 및 대응전략", 내부보고서, 2011, (조사국 공동)</a></div>
<div class="jtitle">"일본 대지진이 세계 및 국내 경제에 미치는 영향", 내부보고서, 2011, (여타국 공동)</a></div>
<div class="jtitle">"Financial Frictions, Intersectoral Adjustment Costs and News-Driven Business Cycles", Phd Thesis, 2010</a></div>
<div class="jtitle">"Financial and Real Frictions as Sources of Business Fluctuations", Phd Thesis, 2010</a></div>
