---
layout : single
classes : wide
---

{{ content }}

<h5>BOK Papers</h5>


<div class="jtitle"><a href="https://www.bok.or.kr/imer/bbs/P0002455/view.do?nttId=10074636&menuNo=500788">통화정책 충격이 생산과 물가에 미치는 효과의 국가별 차이 및 결정요인, 2023, BOK 경제연구</a></div>
<div class="jtitle"><a href="https://www.bok.or.kr/portal/bbs/P0002347/view.do?nttId=188106&menuNo=200432">구조적 소비제약 요인 및 정책과제, 2013, BOK 경제리뷰</a></div>
<div class="jtitle"><a href="https://www.bok.or.kr/portal/bbs/P0002347/view.do?nttId=188204&menuNo=200432">우리나라 가계부채 증가원인 및 지속가능성 분석, 2013, BOK 경제리뷰</a></div> 
<div class="jtitle"><a href="https://www.bok.or.kr/portal/bbs/P0002347/view.do?nttId=195430&menuNo=200432">청년층 고용현황 및 시사점, 2013, BOK 경제리뷰</a></div>

<h5>Refereed Journal</h5>

<div class="jtitle"><strg>[New]</strg> <a href="/files/paper/Cross-country Differences in the Effects of the Monetary Policy Shocks.pdf">
  Cross-country Differences in the Effects of the Monetary Policy Shocks on Output and Prices and Their Determinants (with G. Yim and D. Oh), 2024, vol.70, issue C, Japan and the World Economy</a></div>
<div class="jtitle"><strg>[New]</strg> <a href="/files/paper/reserve.pdf">
Nonborrowed Reserve Targeting: Fed's Experience and Its Implication for Korean Monetary Policy (with Y. Kim, S. Lee, D. Kim and A. Lee), 2023.7, The Korean Economic Forum</a></div>
<div class="jtitle"><strg>[New]</strg> <a href="/files/paper/IPF.pdf">
 Integrated Policy Framework and Its Policy Implications,  (with A. Lee and D. Chae), 2023.1, The Korean Economic Forum</a></div>
<div class="jtitle"><a href="https://kiss.kstudy.com/thesis/thesis-view.asp?key=3265616">Measuring the Nonlinear Effect of Interest Rates on Inflation and Output in Korea, 2014, Journal of Knowledge Studies</a></div>
