---
layout: single
classes: wide
---

{{ content }}

<h5>Working Papers</h5>

<div class="jtitle"><strg>[New]</strg> <a href="/_files/_papers/Cross-country Differences in the Effects of the Monetary Policy Shocks.docx">
  Cross-country Differences in the Effects of the Monetary Policy Shocks on Output and Prices and Their Determinants</a></div>
<div class="jtitle"><strg>[New]</strg> <a href="https://shnah1.github.io/_files/_papers/IPF.pdf">
 Integrated Policy Framework and Its Policy Implications</a></div>
<div class="jtitle"><a href="http://onlinelibrary.wiley.com/doi/10.1111/jofi.12489/full"> A Reverse Mortgage Loans: A Quantitative Analysis</a></div>
<div class="jtitle"><strg>[New]</strg> <a href="https://makotonakajima.github.io/files/paper/jhank2-paper-221010.pdf">Monetary Policy with Racial Inequality</a></div>
