---
layout: single
classes: wide
---

{{ content }}

<h5>Working Papers</h5>

<div class="jtitle"><strg>[New]</strg> <a href="/files/paper/CreditDriven4.docx">
  The Credit-Driven Business Cycles in Korea: How Important is the Credit Supply Channel?, 2022.1</a></div>
<div class="jtitle"><strg>[New]</strg> <a href="/files/paper/Cross-country Differences in the Effects of the Monetary Policy Shocks.docx">
  Cross-country Differences in the Effects of the Monetary Policy Shocks on Output and Prices and Their Determinants, 2023.1</a></div>
<div class="jtitle"><strg>[New]</strg> <a href="/files/paper/IPF.pdf">
 Integrated Policy Framework and Its Policy Implications, 2023.1</a></div>
<div class="jtitle"> <a href="https://etd.ohiolink.edu/apexprod/rws_etd/send_file/send?accession=osu1283852949&disposition=inline"> Financial Frictions, Intersectoral Adjustment Costs and News-Driven Business Cycles, 2010</a></div>

<div class="jtitle"> <a href="https://etd.ohiolink.edu/apexprod/rws_etd/send_file/send?accession=osu1283852949&disposition=inline">Financial and Real Frictions as Sources of Business Fluctuations, 2010</a></div>

